---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/customers
    body:
      encoding: UTF-8
      string: '{"email":"test@test.com","name":"Pedro Silva","cpfCnpj":null,"externalReference":38,"notificationDisabled":true}'
    headers:
      Access-Token:
      - "<ASAAS_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"object":"customer","id":"cus_000006417921","dateCreated":"2024-12-27","name":"Pedro
        Silva","email":"test@test.com","company":null,"phone":null,"mobilePhone":null,"address":null,"addressNumber":null,"complement":null,"province":null,"postalCode":null,"cpfCnpj":null,"personType":null,"deleted":false,"additionalEmails":null,"externalReference":"38","notificationDisabled":true,"observations":null,"municipalInscription":null,"stateInscription":null,"canDelete":true,"cannotBeDeletedReason":null,"canEdit":true,"cannotEditReason":null,"city":null,"cityName":null,"state":null,"country":"Brasil"}'
  recorded_at: Fri, 27 Dec 2024 14:29:48 GMT
recorded_with: VCR 6.3.1
