---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/customers
    body:
      encoding: UTF-8
      string: '{"email":"test@test.com","name":"Pedro Silva","cpfCnpj":"20218405065","externalReference":1,"notificationDisabled":true}'
    headers:
      Access-Token:
      - "<ASAAS_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"object":"customer","id":"cus_000006418651","dateCreated":"2024-12-27","name":"Pedro
        Silva","email":"test@test.com","company":null,"phone":null,"mobilePhone":null,"address":null,"addressNumber":null,"complement":null,"province":null,"postalCode":null,"cpfCnpj":"20218405065","personType":"FISICA","deleted":false,"additionalEmails":null,"externalReference":"1","notificationDisabled":true,"observations":null,"municipalInscription":null,"stateInscription":null,"canDelete":true,"cannotBeDeletedReason":null,"canEdit":true,"cannotEditReason":null,"city":null,"cityName":null,"state":null,"country":"Brasil"}'
  recorded_at: Fri, 27 Dec 2024 23:00:09 GMT
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/payments
    body:
      encoding: UTF-8
      string: '{"billingType":"PIX","dueDate":"2024-12-27","value":10.0,"customer":"cus_000006418651"}'
    headers:
      Access-Token:
      - "<ASAAS_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Ratelimit-Remaining:
      - '99'
      Ratelimit-Reset:
      - '9'
      Ratelimit-Limit:
      - '100'
    body:
      encoding: UTF-8
      string: '{"object":"payment","id":"pay_9ly704ed0z33293g","dateCreated":"2024-12-27","customer":"cus_000006418651","paymentLink":null,"value":10,"netValue":8.01,"originalValue":null,"interestValue":null,"description":null,"billingType":"PIX","pixTransaction":null,"status":"PENDING","dueDate":"2024-12-27","originalDueDate":"2024-12-27","paymentDate":null,"clientPaymentDate":null,"installmentNumber":null,"invoiceUrl":"https://sandbox.asaas.com/i/9ly704ed0z33293g","invoiceNumber":"07290305","externalReference":null,"deleted":false,"anticipated":false,"anticipable":false,"creditDate":null,"estimatedCreditDate":null,"transactionReceiptUrl":null,"nossoNumero":null,"bankSlipUrl":null,"lastInvoiceViewedDate":null,"lastBankSlipViewedDate":null,"discount":{"value":0.00,"limitDate":null,"dueDateLimitDays":0,"type":"FIXED"},"fine":{"value":0.00,"type":"FIXED"},"interest":{"value":0.00,"type":"PERCENTAGE"},"postalService":false,"custody":null,"refunds":null}'
  recorded_at: Fri, 27 Dec 2024 23:00:10 GMT
recorded_with: VCR 6.3.1
