---
http_interactions:
- request:
    method: post
    uri: https://sandbox.asaas.com/api/v3/customers
    body:
      encoding: UTF-8
      string: '{"email":"test@test.com","name":null,"cpfCnpj":null,"externalReference":1,"notificationDisabled":true}'
    headers:
      Access-Token:
      - "<ASAAS_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"invalid_name","description":"O campo name deve
        ser informado"}]}'
  recorded_at: Fri, 27 Dec 2024 18:18:01 GMT
recorded_with: VCR 6.3.1
